<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>News Article Page</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">News Article Page</h1>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2>Article Title</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum velit velit, at aliquam sem egestas ac. Nam euismod aliquam sem, id laoreet leo dictum eu.
          </p>
          <p>
            Nulla facilisi. Aliquam velit ligula, tincidunt a blandit at, blandit vel ligula. Nam id lorem a risus aliquet aliquet. Suspendisse non lacus in sapien luctus commodo a non massa.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
