<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
php
Copy code
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<title>Honey Politic Portal</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand display-10" href="#">Honey Politic Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Latest">Latest News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Group1">Group1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Group2">Group2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Group3">Group3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Group4">Group4</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
php
Copy code
<!-- Showcase -->
<header class="text-center py-5 bg-primary text-white">
    <div class="container">
        <h1>Honey Politic Portal</h1>
        <p class="lead">Find the sweet news of politics: Criteria for political beginners</p>
    </div>
</header>

<!-- Latest News -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Latest News</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="news-1.jpg" alt="News 1">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="news-1.jpg" alt="News 1">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="news-1.jpg" alt="News 1">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="news-1.jpg" alt="News 1">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>