<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Honey Politics News</title>
    <style>
        div.card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .card-text {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <button
        style="position: fixed; bottom: 100px; right: 60px; background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;"
        onclick="document.location.href = '#top';">Go Up</button>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="top">
        <div class="container">
            <a class="navbar-brand" href="/">Honey Politics News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#Latest">Latest News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#Group1">Group1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#Group2">Group2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#Group3">Group3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#Group4">Group4</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="bg-primary text-white pt-5 pb-3 ">
        <div class="container my-4">
            <div class="row" style="float: none; margin: 100 auto;">
                <div class="col-md-12" style="float: none; margin: 0 auto;">

                    <!-- 신문사 -->

                    <strong>{{news[6]}}</strong>

                    <!-- 타이틀 -->

                    <h2 class="py-4">{{news[4]}}</h2>

                    <!-- 기자이름 날짜 -->

                    <small>{{news[3]}} {{news[5]}}</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container py-4">
        <div class="row" style="float: none; margin: 10 auto;">
            <div class="col-xl-8 my-4" style="float: none; margin: 0 auto;">
                <span style="font-size: 18px; line-height: 2;">

                    <!-- 본문 -->

                    <p>
                        {{news[2]}}
                    </p>
                </span>
            </div>
            <div class="col-xl my-4" style="float: none; margin: 0 auto; min-width: 300px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">정치 편향도 분석 결과</h5>
                        <div style="display: grid;
                            grid-template-columns: 70px auto 70px;">

                            <!-- 편향도 -->

                            보수 60%
                            <div style="display: grid; height: 20px;
                            
                            grid-template-columns: 60% 40%">
                                <bar style="background-color: rgb(231, 71, 71); padding: 2px; margin-left: 5px;
                                         border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                                </bar>
                                <bar style=" background-color: rgb(18, 154, 18); padding: 2px; margin-right: 5px;
                                         border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                </bar>

                                <!-- 편향도 -->

                            </div>진보 40%
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">추천 뉴스</h5>

                        <!-- 추천 뉴스 -->

                        <div class="row">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title font-weight-bold">북한, 코로나19 극복 다큐 방영…“80여일만 종식 기적”</div>
                                        <p class="card-text small">김정은 북한 국무위원장이 과거 도널드 트럼프 미국 전 대통령이 그에게...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title font-weight-bold">북한, 코로나19 극복 다큐 방영…“80여일만 종식 기적”</div>
                                        <p class="card-text small">김정은 북한 국무위원장이 과거 도널드 트럼프 미국 전 대통령이 그에게...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title font-weight-bold">북한, 코로나19 극복 다큐 방영…“80여일만 종식 기적”</div>
                                        <p class="card-text small">김정은 북한 국무위원장이 과거 도널드 트럼프 미국 전 대통령이 그에게...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title font-weight-bold">북한, 코로나19 극복 다큐 방영…“80여일만 종식 기적”</div>
                                        <p class="card-text small">김정은 북한 국무위원장이 과거 도널드 트럼프 미국 전 대통령이 그에게...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>