news{
    display: block;
    font-family:'Gill Sans','Gill Sans MT', 
                'Trebuchet MS', sans-serif;
    padding: 50px;
    word-spacing: 3px;
    width: 800px;
    margin: 0 auto;

}

category{
    display: block;
    font-size: 15px;
    margin: 15px;
}

classification{
    font-weight: bold;
}

country{
    color: #3a69ce;
    font-weight: bold;
}

mainTitle{
    display: block;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    border-top: thick solid #3a69ce
}
subtitle{
    display: block;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

info{
    display: block;
    font-size: small;
    padding: 20px;
    margin-top: 20px;
    color: grey;
}

body{
    display: block;
    padding: 20px;
    line-height: 200%;
    border-top: thin solid #3a69ce
}
content{
    display: block;
    margin-bottom: 20px;
}

email, group{
    display: none;
}

